.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{
  font-size: 24px;
}
p{
  color: beige;
}
/* #This for univerversal designing */
body{
  padding:20px;
  min-height: 200vh;
}
.container{
  border:2px brown;
  max-width: 900px;
  min-height: 50px;
  margin-inline: auto;
  display:flex;
  gap: irem;
  justify-content: center;
  align-items: center;
  
}
.box{
  height: 100px;
  background-color: blanchedalmond;
  color:rgb(193, 136, 68);
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px
}
